/*.d
/build
/toolchain
/Makefile
/Makefile.Debug
/Makefile.Release
/.qmake.stash
/object_script.Chromaphone.Debug
/object_script.Chromaphone.Release
/.qtc_clangd/compile_commands.json
/.qtc_clangd/.cache
/User*AppData*
/*.pro.user
/ui/*.ui.bak
/ui/ui_*.h
/binaries
/deploy.bat
/deploy.bat.bak
/deploy
*.keystore
/android
/resources
